<div class="content">

  <div class="content_text">
    <h3> INTER AGROKIEV </h3>
    <p>Is an agro commodities trading company with global reach. Since 2016
      we have started the international trading with primary focus on moving
      agro commodities from the Black Sea to the rest of the world. <br><br>
      ​Our direct cooperation with farmers, mills, refineries and manufacturers
      provides a healthy grown product to be sold around the globe for human
      consumption and animal feed.<br><br>
      We can provide the deliveries from our facilities to any destination, overland or overseas, in containers (20'
      and 40'), vessels, trucks or rail wagons.
    </p>
  </div>

  <app-card></app-card>
</div>