<mat-card *ngIf="contact" class="example-card">
  <mat-card-header>
    <img mat-card-avatar [src]="imageTitle">
    <mat-card-title>Сommunication with us</mat-card-title>
    <mat-card-subtitle>Faster</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="image">
  <mat-card-content>
    <p>
      <mat-icon class="icon_">email</mat-icon>E-mail: interagrokiev@gmail.com
    </p>
    <p>
      <mat-icon class="icon_">location_on</mat-icon>Location: Kyiv, Ukraine
    </p>
    <p>
      <mat-icon class="icon_">phone_in_talk</mat-icon>Skype: **********
    </p>
    <p>
      <mat-icon class="icon_">contact_phone</mat-icon> +380982773321
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="send" color="primary" mat-button (click)="toMessage()"> Send message </button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="!contact" class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="../../../../favicon.ico">
    <mat-card-title>Contact us</mat-card-title>
    <mat-card-subtitle>Message</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>