<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar  color="primary"  routerLink="/" >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="about-us">
        <mat-icon class="_icon" aria-label="Example icon-button with a heart icon">public</mat-icon>
      About - us</a>
      <a mat-list-item routerLink="products">
        <mat-icon class="_icon" aria-label="Example icon-button with a heart icon">settings_power</mat-icon>
      Products</a>
      <a mat-list-item routerLink="contacts">
        <mat-icon class="_icon" aria-label="Example icon-button with a heart icon">contacts</mat-icon>
      Contacts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar  class="header" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon  color="white" >menu</mat-icon>
      </button>
      <span class="_full" routerLink="/"> <span>INTER AGROKIEV</span> </span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
