._default {
  max-height: calc(100% - 64px);
  box-sizing: border-box;
}

img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  box-sizing: content-box;
  min-height: calc(98vh - 64px);

  margin: 8px 16px;
  border-radius: 4px;

  background-color: #fff;
}
